<div class="container">
  <h3 class="contents-title">パスワードリセット申請</h3>
  <div class="form">
    <div class="form-body">
      <%= form_with url:"/password/create",  local: true do |form| %>
        <div class="contact-form">
          <%= form.label "E-mail" %>
          <%= form.text_field :email, placeholder: "user@example.com" %>
          <%= form.submit '申請' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="go-home">
  <%= link_to("<ページの上へ戻る>", "#top") %>
</div>
