<div class="main">
  <div class="container">
    <h1 class="form-heading">編集する</h1>

    <%= form_with model: Blog.new, url: "/blogs/#{@blog.id}/update", local: true do |form| %>
      <div class="form">
        <div class="form-body">
        
          <% @blog.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>

          <h3>タイトル</h3>
          <%= form.text_field :title, value: @blog.title, value: @blog.title %>
          
          <!--
          <h2>サブタイトル</h2>
          <%= form.text_field :sub_title, name: "sub_title" , value: @blog.sub_title %>
          <h2>カテゴリー</h2>
          <%= form.select :category,
          [
          ["バス釣り入門編"],["フィネス入門編"],["タックル編"],["フィネスルアー編"],
          ] ,
          prompt: "カテゴリーを選択してください", name: "category" , value: @blog.category %>
          -->
          <h3>トップ画像</h3>
          <%= form.file_field :image, value: @blog.image %>
          
          <h3>内容</h3>
          <%= form.rich_text_area :content, value: @blog.content %>
          
          <%= form.submit "投稿" %>
        </div>
      </div>
    <% end %>
  </div>
</div>