<% content_for :title do %>
  琵琶湖バス釣りブログ編集
<% end %>

<% breadcrumb :blogs_edit %>
<div class="container">
<h3 class="contents-title">ブログ編集</h3>
  <%= form_with model: @blog, url: "/blogs/#{@blog.id}/update", local: true do |form| %>
    <div class="form">
      <div class="form-body">
        <% @blog.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>
        <%= form.label "タイトル" %>
        <%= form.text_field :title, value: @blog.title %>
        <%= form.label "トップ画像" %>
        <%= form.file_field :image, value: @blog.image %>
        <%= form.label "内容" %>
        <%= form.rich_text_area :content, value: @blog.content %>
        <%= form.submit "投稿" %>
      </div>
    </div>
  <% end %>
</div>

<div class="go-home">
  <%= link_to("<ページの上へ戻る>", "#top") %>
</div>
