<div class="main">
  <div class="container">
    <h1 class="form-heading">投稿する</h1>
    <div class="form">
      <div class="form-body">
        <% @blog.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>
        
        <%= form_with model: @blog, url: "/blogs/create", local: true do |form| %>
          <%= form.label "タイトル" %>
          <%= form.text_field :title, maxlength: 32 %>

          <%= form.label "トップ画像" %>
          <%= form.file_field :image %>

          <%= form.label "内容" %>
          <%= form.rich_text_area :content %>
          
          <%= form.submit "投稿" %>
        <% end %>
      </div>
    </div>
  </div>
</div>