<% breadcrumb :blogs_create %>
<div class="container">
  <h3 class="form-heading">バス釣り初心者向けブログ投稿</h3>
  <div class="form">
    <div class="form-body">
      <% @blog.errors.full_messages.each do |message| %>
        <div class="form-error">
          <%= message %>
        </div>
      <% end %>
      
      <%= form_with model: @blog, url: "/blogs/create", local: true do |form| %>
        <%= form.label "タイトル" %>
        <%= form.text_field :title, maxlength: 32 %>

        <%= form.label "トップ画像" %>
        <%= form.file_field :image %>

        <%= form.label "内容" %>
        <%= form.rich_text_area :content %>
        
        <%= form.submit "投稿" %>
      <% end %>
    </div>
  </div>
</div>

