<% content_for :title do %>
  琵琶湖バス釣りブログ
<% end %>

<% breadcrumb :blogs_show %>

<div class="container">
  <h3 class="contents-title">
    <%= @blog.title %>
  </h3>
  <div class="blogs-index-item">
    <div class="blog-content">
      <%= @blog.content %>
    </div>
    <% if session[:user_id] %>
      <% if @blog.user_id == @current_user.id %>
        <div class="post-menus">
          <%= link_to("投稿", "/blogs/new") %>
          <%= link_to("編集", "/blogs/#{@blog.id}/edit") %>
          <%= link_to("削除", "/blogs/#{@blog.id}/destroy", {method: "post"}) %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="go-home">
  <%= link_to("<ブログ一覧に戻る>","/blogs/index") %>
</div>
