<% breadcrumb :maps_edit %>
<div class="container">
  <h3 class="contents-title">ポイント編集</h3>

  <%= form_with model: @map, url: "/maps/#{@map.id}/update", local: true do |form| %>
    <div class="form">
      <div class="form-body">
      
        <% @map.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>

        <%= form.label "タイトル" %>
        <%= form.text_field :title, value: @map.title %>
        
        <%= form.label "カテゴリー" %>
        <%= form.select :area,
        [
          ["北湖北"],["北湖東"],["北湖西"],["南湖東"],["南湖西"]
        ] ,
        prompt: "エリアを選択してください", value: @map.area %>
        
        <%= form.label "緯度" %>
        <%= form.text_field :latitude, value: @map.latitude %>

        <%= form.label "経度" %>
        <%= form.text_field :longitude, value: @map.longitude %>

        <%= form.label "地理院地図 URL" %>
        <%= form.text_field :url, value: @map.url %>
        
        <%= form.label "画像" %>
        <%= form.file_field :image, value: @map.image %>
        
        <%= form.label "内容" %>
        <%= form.rich_text_area :content, value: @map.content %>
        
        <%= form.submit "投稿" %>
      </div>
    </div>
  <% end %>
</div>

<div class="go-home">
  <%= link_to("<ページの上へ戻る>", "#top") %>
</div>