<div class="main">
  <div class="container">
    <h1 class="form-heading">編集する</h1>

    <%= form_with url: "/maps/:id/update", local: true do |form| %>
      <div class="form">
        <div class="form-body">
        
          <% @map.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>

          <h3>タイトル</h3>
          <%= form.text_field :title, value: @map.title, value: @map.title %>
          
          <!--
          <h2>サブタイトル</h2>
          <%= form.text_field :sub_title, name: "sub_title" , value: @map.sub_title %>
          <h2>カテゴリー</h2>
          <%= form.select :category,
          [
          ["北湖"],["南湖"],
          ] ,
          prompt: "カテゴリーを選択してください", name: "category" , value: @map.category %>
          -->
          <h3>トップ画像</h3>
          <%= form.file_field :image, value: @map.image %>
          
          <h3>内容</h3>
          <%= form.rich_text_area :content, value: @map.content %>
          
          <%= form.submit "投稿" %>
        </div>
      </div>
    <% end %>
  </div>
</div>