<head>
  <!--Googleアドセンスの読み込み-->
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8945963860738758"crossorigin="anonymous"></script>
</head>
<% breadcrumb :maps %>
<div class="contents">
  <h3 class="contents-title">琵琶湖バス釣り場一覧</h3>
  <iframe src="https://www.google.com/maps/d/embed?mid=1drub9q4GKQ1jvSuQDIx4XyOvAunEn_s&ehbc=2E312F&noprof=1"></iframe>

  <ul class="tab">
    <li><a href="#kohoku">北湖北</a></li>
    <li><a href="#kosai">北湖西</a></li>
    <li><a href="#kotou">北湖東</a></li>
    <li><a href="#nankoseigan">南湖西</a></li>
    <li><a href="#nankotougan">南湖東</a></li>
  </ul>

  <div id="kohoku" class="area" >
    <% @maps1.each do |map| %>
      <div class="post-user-name">
       【<%= map.season %>】
        <%= link_to(map.title, "/maps/#{map.id}/", data: {"turbolinks" => false}) %>
      </div>
    <% end %>
  </div>

  <div id="kosai" class="area" >
    <% @maps3.each do |map| %>
      <div class="post-user-name">
       【<%= map.season %>】
        <%= link_to(map.title, "/maps/#{map.id}", data: {"turbolinks" => false}) %>
      </div>
    <% end %>
  </div>

  <div id="kotou" class="area" >
    <% @maps2.each do |map| %>
      <div class="post-user-name">
       【<%= map.season %>】
        <%= link_to(map.title, "/maps/#{map.id}", data: {"turbolinks" => false}) %>
      </div>
    <% end %>
  </div>

  <div id="nankoseigan" class="area" >
    <% @maps5.each do |map| %>
      <div class="post-user-name">
       【<%= map.season %>】
        <%= link_to(map.title, "/maps/#{map.id}", data: {"turbolinks" => false}) %>
      </div>
    <% end %>
  </div>

  <div id="nankotougan" class="area" >
    <% @maps4.each do |map| %>
      <div class="post-user-name">
       【<%= map.season %>】
        <%= link_to(map.title, "/maps/#{map.id}", data: {"turbolinks" => false}) %>
      </div>
    <% end %>
  </div>

<div class="go-home">
  <%= link_to("<ページの上へ戻る>", "#top") %>
</div>

<script src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/5-4-1/js/5-4-1.js"></script>
