<div class="main">
  <div class="container">
    <h1 class="form-heading">投稿する</h1>
    <div class="form">
      <div class="form-body">
        <% @map.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>
        
        <%= form_with model: @map, url: "/maps/create", local: true do |form| %>
          <h3>タイトル</h3>
          <%= form.text_field :title %>

          <h3>エリア選択</h3>
          <%= form.select :area,
            [
              ["湖北"],["湖東"],["湖西"],["南湖東"],["南湖西"]
            ],
          prompt: "エリアを選択してください" %>

          <h3>緯度(latitude)</h3>
          <%= form.text_field :latitude %>
          <h3>経度(longitude)</h3>
          <%= form.text_field :longitude %>

          <h3>地理院地図URL</h3>
          <%= form.text_field :url %>
          
          <h3>画像</h3>
          <%= form.file_field :image %>

          <h3>内容</h3>
          <%= form.rich_text_area :content %>
          <%= form.submit "投稿" %>
        <% end %>
      </div>
    </div>
  </div>
</div>