<div class="main">
  <div class="container">
    <h1 class="form-heading">釣り場情報詳細</h1>
    <div class="blogs-index-item">
      <% if session[:user_id] %>
        <% if @map.user_id == @current_user.id %>
          <div class="post-menus">
            <%= link_to("投稿", "/maps/new") %>
            <%= link_to("編集", "/maps/#{@map.id}/edit") %>
            <%= link_to("削除", "/maps/#{@map.id}/destroy", {method: "post"}) %>
          </div>
        <% end %>
      <% end %>
      <div class="map-title">
        <%= @map.title %>
      </div>

      <div type="text/javascript">
        <script>
          function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
              center: {lat: <%= image.gpslatitude %>, lng: <%= image.gps.longitude %> },
              zoom: 15
            });
          }
        </script>
      </div>

      <div class="map-content">
        <%= @map.content %>
      </div>
    </div>
    <div class="present">
      <div class="previous"> 
        <% if @map.previous.present? %>
          <%= link_to("<前の記事", "/maps/#{@map.previous.id}") %>
        <% end %>
      </div>
      <div class="next">
        <% if @map.next.present? %>
          <%= link_to("次の記事>", "/maps/#{@map.next.id}") %>
        <% end %>
      </div>
    </div>
  </div>
</div>