<% breadcrumb :maps_show %>
<div class="container">
  <h3 class="contents-title">釣り場詳細</h3>
  <div class="blogs-index-item">
    <div class="map-title">
      <%= @map.title %>
      <div class="map-season">
        【<%= @map.season %>】
      </div>
    </div>

    <div class="map">
      <div id="map">
      </div>
    </div>

    <script>
      let circleBlue;
      let nRadiusHalfKm = 600;

      document.addEventListener("turbolinks:load", function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: <%= @map.latitude %>, lng: <%= @map.longitude %> },
          zoom: 13
        })

        circleBlue = new google.maps.Circle({
          strokeColor: "#3333FF",
          strokeOpacity: 1.0,
          strokeWeight: 2,
          fillColor: "#3333FF",
          fillOpacity: 0.35,
          map: map,
          draggable: false,
          center: {lat: <%= @map.latitude %>, lng: <%= @map.longitude %> },
          radius: nRadiusHalfKm
        })
      });
    </script>

    <%= link_to("👉地理院地図(ブレイクラインを見る)", "#{@map.url}", target: :_blank, rel: :noopner ) %>
    
    <div class="weather">
      <div id="weather"></div>
    </div>

    <div class="map-content">
      <%= @map.content %>
    </div>

    <% if session[:user_id] %>
      <% if @map.user_id == @current_user.id %>
        <div class="post-menus">
          <%= link_to("投稿", "/maps/new") %>
          <%= link_to("編集", "/maps/#{@map.id}/edit") %>
          <%= link_to("削除", "/maps/#{@map.id}/destroy", {method: "post"}) %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="go-home">
  <%= link_to("<釣り場一覧に戻る>","/maps/index") %>
</div>

<!--Google Maps APIの読み込み-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMsepPczbmm4sb6Fwmp8SjRaDspafFqlc&callback=initMap&v=weekly"defer></script>