<% breadcrumb :users_edit %>
<div class="container">
  <h3 class="contents-title">ユーザー編集</h3>
  <div class="form">
    <div class="form-body">
      <% @user.errors.full_messages.each do |message| %>
        <div class="form-error">
          <%= message %>
        </div>
      <% end %>
      <%= form_with model: @user, url: "/users/#{@user.id}/update", local: true do |form| %>
        <%= form.label "ユーザー名" %>
        <%= form.text_field :name, value: @user.name %>
        <%= form.label "メールアドレス" %>
        <%= form.email_field :email, value: @user.email %>
        <%= form.label "プロフィール画像" %>
        <%= form.file_field :image, value: @user.image %>
        <%= form.label "プロフィール" %>
        <%= form.text_field :profile, value: @user.profile %>
        <%= form.label "YouTube" %>
        <%= form.text_field :youtube, value: @user.youtube %>
        <%= form.label "Twitter" %>
        <%= form.text_field :twitter, value: @user.twitter %>
        <%= form.label "Instagram" %>
        <%= form.text_field :instagram, value: @user.instagram %>
        <%= form.submit "登録" %>
      <% end %>
    </div>
  </div>
</div>

<div class="go-home">
  <%= link_to("<ページの上へ戻る>", "#top") %>
</div>
