<% breadcrumb :users_edit %>
<div class="main">
  <div class="container">
    <h3 class="form-heading">ユーザー編集</h3>
    <div class="form">
      <div class="form-body">
        <% @user.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>
        <%= form_with model: @user, url: "/users/#{@user.id}/update", local: true do |form| %>
          <%= form.label "ユーザー名" %>
          <%= form.text_field :name, value: @user.name %>
          <%= form.label "メールアドレス" %>
          <%= form.email_field :email, value: @user.email %>
          <%= form.label "プロフィール画像" %>
          <%= form.file_field :image, value: @user.image %>
          <%= form.label "プロフィール" %>
          <%= form.text_field :profile, value: @user.profile %>
          <%= form.submit "登録" %>
        <% end %>
      </div>
    </div>
  </div>
</div>