<div class="main">
  <div class="container">
    <h3 class="form-heading">ログイン</h3>
    <div class="form">
      <div class="form-body">
        <% if @error_message %>
          <div class="form-error">
            <%= @error_message %>
          </div>
        <% end %>
        <%= form_with  url: "/login", local: true do |form| %>
          <%= form.label "メールアドレス" %>
          <%= form.email_field :email, value: @email  %>
          <%= form.label "パスワード" %>
          <%= form.password_field :password, value: @password %>
          <%= link_to("☞新規登録はこちらから", "/signup") %>
          <%= form.submit "ログイン" %>
        <% end %>
      </div>
    </div>
  </div>
</div>