<% breadcrumb :login %>
<div class="container">
  <h3 class="contents-title">ログイン</h3>
    <div class="form">
      <div class="form-body">
        <% if @error_message %>
          <div class="form-error">
            <%= @error_message %>
          </div>
        <% end %>
        <%= form_with  url: "/login", local: true do |form| %>
          <%= form.label "メールアドレス" %>
          <%= form.email_field :email, value: @email  %>
          <%= form.label "パスワード" %>
          <%= form.password_field :password, value: @password %>
          <%= link_to("☞新規登録はこちらから", "/signup") %>
          <%= link_to("☞パスワードを忘れた方はこちら", "/password/reset") %>
          <%= form.submit "ログイン" %>
        <% end %>
      </div>
    </div>
</div>

<div class="go-home">
  <%= link_to("<ページの上へ戻る>", "#top") %>
</div>
