<% breadcrumb :singup %>
<div class="container">
<h3 class="contents-title">新規登録</h3>
  <div class="form">
    <div class="form-body">
      <% @user.errors.full_messages.each do |message| %>
        <div class="form-error">
          <%= message %>
        </div>
      <% end %>
      <%= form_with model: @user, url: "/users/create", local: true do |form| %>
        <%= form.label "ユーザー名" %><span> ※10文字以内</span>
        <%= form.text_field :name, size: 10 %>
        <%= form.label "メールアドレス" %>
        <%= form.email_field :email %>
        <%= form.label "パスワード" %>
        <%= form.password_field :password %>
        <%= form.label "プロフィール画像" %>
        <%= form.file_field :image %>
        <%= form.label "プロフィール" %><span> ※30文字以内</span>
        <%= form.text_field :profile, size: 30 %>
        <%= link_to("☞ログインはこちらから", "/login") %>
        <%= form.submit "新規登録" %>
      <% end %>
    </div>
  </div>
</div>
