<div class="main">
  <div class="container">

    <h1 class="form-heading">アカウント情報</h1>

    <div class="user">
      <%= image_tag @user.image.url %>
      <h2><%= @user.name %></h2>
      <% if @user.id == @current_user.id %>
        <p><%= @user.email %></p>
      <% end %>
      <p><%= @user.profile %></p>
      <% if @user.id == @current_user.id %>
        <%= link_to("編集", "/users/#{@user.id}/edit") %>
      <% end %> 
    </div>
    
    <% @user.posts.each do |post| %>
      <div class="posts-index-item">
        <div class="user-post-left">
          <%= image_tag post.image.url %>
        </div>
        <div class="user-post-right">
          <div class="post-user-name">
            <%= link_to(post.title,"/posts/#{post.id}") %>
          </div>
          <div class="user-post-datetime">
            <span>投稿日：</span>
            <%= post.created_at.strftime("%Y-%m-%d %H:%M") %>
          </div>
        </div>
      </div>
    <% end %> 
    
  </div>
</div>