<div class="main">
  <div class="container">
    <h3 class="form-heading">アカウント情報</h3>

    <div class="user">
      <%= image_tag @user.image.url %>
      <h2><%= @user.name %><span> さん</span></h2>
      <% if @user.id == @current_user.id %>
        <p><%= @user.email %></p>
      <% end %>
      <p><%= @user.profile %></p>
      <% if @user.id == @current_user.id %>
        <div class="user-edit">
          <%= link_to("編集", "/users/#{@user.id}/edit") %>
        </div>
      <% end %> 
      <% if @current_user != @user %>
        <% if @current_user.following?(@user) %>
          <%= link_to "フォロー外す", user_relationships_path(@user.id), method: :delete %>
        <% else %>
          <%= link_to "フォローする", user_relationships_path(@user.id), method: :post %>
        <% end %>
      <% end %>

      <tr>
        <th>フォロー中</th>
        <th><%= link_to @user.followings.count, user_followings_path(@user) %></th>
      </tr>
      <tr>
        <th>フォロワー</th>
        <th><%= link_to @user.followers.count, user_followers_path(@user) %></th>
      </tr>

    </div>
    
    <h1 class="form-heading">釣果情報</h1>
    <% @user.posts.each do |post| %>
      <div class="posts-index-item">
        <div class="user-post-datetime">
          <span>投稿日：</span>
          <%= post.created_at.strftime("%Y-%m-%d %H:%M") %>
        </div>
        
        <div class="top-user-image">
          <% if post.images.length < 2 %>
            <% post.images.each do |image| %>
              <%= image_tag image.to_s, class: "post-img"%>
            <% end %>
          <% else %>
            <div class="swiper">
              <div class= "swiper-wrapper ">
                <% post.images.each do |image| %>
                  <%= image_tag image.to_s, class: "swiper-slide index-img" %>
                <% end %>
              </div>
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>
              <div class="swiper-pagination"></div>
            </div>
          <% end %>
        </div>

        <div class="posts-index-right">
          <%= link_to("👉釣果詳細はこちら","/posts/#{post.id}") %>
        </div>
      </div>
    <% end %> 
  </div>
</div>