<% breadcrumb :users_show %>

<div class="contents">
  <h3 class="contents-title">ユーザー情報</h3>

  <div class="user">
    <%= image_tag @user.image.url, alt: "ユーザー画像" %>
    <h2><%= @user.name %><span> さん</span></h2>
    <% if @user.id == @current_user.id %>
      <p><%= @user.email %></p>
    <% end %>
    <p><%= @user.profile %></p>
    <% if @user.id == @current_user.id %>
      <div class="user-edit">
        <%= link_to("編集する", "/users/#{@user.id}/edit") %>
      </div>
    <% end %> 
    <% if @current_user != @user %>
      <% if @current_user.following?(@user) %>
        <%= link_to "フォロー外す", user_relationships_path(@user.id), method: :delete %>
      <% else %>
        <%= link_to "フォローする", user_relationships_path(@user.id), method: :post %>
      <% end %>
    <% end %>

    <span>フォロー中</span><%= link_to @user.followings.count, user_followings_path(@user)%>
    <span>フォロワー</span><%= link_to @user.followers.count, user_followers_path(@user) %>

  </div>
  
  <h3 class="contents-title">釣果一覧</h3>
  
  <div class="posts-contents">
    <% @user.posts.each do |post| %>
      <div class="posts-item">
        <div class="user-post-datetime">
          <span>投稿日：</span>
          <%= post.created_at.strftime("%Y-%m-%d %H:%M") %>
        </div>
        
        <div class="top-user-image">
          <% if post.images.length < 2 %>
            <% post.images.each do |image| %>
              <%= image_tag image.to_s, class: "post-img", alt: "投稿された釣果画像（単枚）" %>
            <% end %>
          <% else %>
            <div class="swiper">
              <div class= "swiper-wrapper ">
                <% post.images.each do |image| %>
                  <%= image_tag image.to_s, class: "swiper-slide index-img", alt: "投稿された釣果画像（複数枚）" %>
                <% end %>
              </div>
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>
              <div class="swiper-pagination"></div>
            </div>
          <% end %>
        </div>

        <div class="posts-index-right">
          <%= link_to("👉釣果詳細","/posts/#{post.id}") %>
        </div>
      </div>
    <% end %> 
  </div>
</div>

<div class="go-home">
  <%= link_to("<ユーザ一覧に戻る>","/users/index") %>
</div>