<div class="contents">
  <div class="top-image">
    <div class="top-message">
      <h1>琵琶湖バス釣り釣果情報"Gyotan"</h1>
      <h2>
        釣果情報を投稿・共有して琵琶湖にバス釣りに行こう！！
      </h2>
    </div>
  </div>
  <div class="top-info">
    <div class="info-item">
      <%= link_to("釣果情報", "/posts/index") %>
    </div>
    <div class="info-item">
      <%= link_to("釣り場情報","/maps/index") %>
    </div>

    <div class="info-item">
      <a href="https://px.a8.net/svt/ejp?a8mat=3BBXGL+1ZG1DE+49AW+5YJRM" rel="nofollow">釣具買取</a>
    </div>
  </div>

  <h3 class="contents-title">今月の最大釣果ランキング</h3>
  <div class="posts-contents">
    <% @monthly_top_catches.each do |month, catches| %>
      <% catches.each_with_index do |catch, index| %>
        <div class="posts-item">
          <% case index %>
          <% when 0 %>
            １位
          <% when 1 %>
            ２位
          <% when 2 %>
            ３位
          <% when 3 %>
            ４位
          <% when 4 %>
            ５位
          <% when 5 %>
            ６位
          <% when 6 %>
            ７位
          <% when 7 %>
            ８位
          <% when 8 %>
            ９位
          <% else %>
            <%= index + 1 %>位
          <% end %>
          長さ: <%= catch.length %>cm (投稿日: <%= catch.created_at.strftime("%Y-%m-%d") %>)
          <div class="top-left">
            <%= image_tag catch.user.image.url, alt: "ユーザー画像" %>
          </div>
          <div class="top-user-name">
            <%= link_to(catch.user.name, "/users/#{catch.user.id}") %><span> さん</span>
          </div>
          <div class="top-user-image">
            <% if catch.images.length < 2 %>
              <% catch.images.each do |image| %>
                <%= image_tag image.to_s, alt: "投稿された釣果画像(単枚)" %>
              <% end %>
            <% else %>
              <div class="swiper">
                <div class="swiper-wrapper">
                  <% catch.images.each do |image| %>
                    <%= image_tag image.to_s, class: "swiper-slide index-img", alt: "投稿された釣果画像（複数枚）" %>
                  <% end %>
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
                <div class="swiper-pagination"></div>
              </div>
            <% end %>
            <div class="posts-index-right">
              <%= link_to("👉釣果詳細", "/posts/#{catch.id}", data: { "turbolinks" => false }) %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <h3 class="contents-title">年間の最大釣果ランキング</h3>
  <div class="posts-contents">
    <% @top_catches.each_with_index do |catch, index| %>
      <div class="posts-item">
        <%= "#{index + 1}位" %> 長さ: <%= catch.length %>cm (投稿日: <%= catch.created_at.strftime("%Y-%m-%d") %>)
        <div class="top-left">
          <%= image_tag catch.user.image.url, alt: "ユーザー画像" %>
        </div>
        <div class="top-user-name">
          <%= link_to(catch.user.name, "/users/#{catch.user.id}") %><span> さん</span>
        </div>
        <div class="top-user-image">
          <% if catch.images.length < 2 %>
            <% catch.images.each do |image| %>
              <%= image_tag image.to_s, alt: "投稿された釣果画像(単枚)" %>
            <% end %>
          <% else %>
            <div class="swiper">
              <div class="swiper-wrapper">
                <% catch.images.each do |image| %>
                  <%= image_tag image.to_s, class: "swiper-slide index-img", alt: "投稿された釣果画像（複数枚）" %>
                <% end %>
              </div>
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>
              <div class="swiper-pagination"></div>
            </div>
          <% end %>
          <div class="posts-index-right">
            <%= link_to("👉釣果詳細", "/posts/#{catch.id}", data: { "turbolinks" => false }) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% if @current_user && @posts or @post %>
  <p id="page-top"><%= link_to("釣果を投稿する","/posts/new") %></p>
<% end %>

<% if @current_user == nil %>
  <p id="page-top"><%= link_to("釣果を投稿する","/signup") %></p>
<% end %>

<div class="go-home">
  <%= link_to("<ページの上へ戻る>", "#top") %>
</div>

<script src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/5-4-1/js/5-4-1.js"></script>
