<head>
  <!--Googleアドセンスの読み込み-->
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8945963860738758"crossorigin="anonymous"></script>
</head>
  <div class="contents">
    <div class="top-image">
      <div class="top-message">
        <h1>琵琶湖バス釣り釣果情報"Gyotan"</h1>
        <h2>
          釣果情報を投稿・共有して琵琶湖にバス釣りに行こう！！
        </h2>
      </div>
    </div>
    <div class="top-info">
      <div class="info-item">
        <%= link_to("釣果情報", "/posts/index") %>
      </div>
      <div class="info-item">
        <%= link_to("釣り場情報","/maps/index") %>
      </div>
      <div class="info-item">
        <%= link_to("バス釣りブログ","/blogs/index") %>
      </div>
    </div>
    <h3 class="contents-title">最新釣果情報</h3>
    <div class="posts-contents">
      <% @posts.each do |post| %>
        <div class="posts-item">
          <div class="top-left">
            <%= image_tag post.user.image.url, alt: "ユーザー画像" %>
          </div>
          <div class="top-user-name">
            <%= link_to(post.user.name, "/users/#{post.user.id}") %><span> さん</span>
          </div>
          <div class="top-user-image">
            <% if post.images.length < 2 %>
              <% post.images.each do |image| %>
                <%= image_tag image.to_s, alt: "投稿された釣果画像(単枚)" %>
              <% end %>
            <% else %>
              <div class="swiper">
                <div class= "swiper-wrapper ">
                  <% post.images.each do |image| %>
                    <%= image_tag image.to_s, class: "swiper-slide index-img", alt: "投稿された釣果画像（複数枚）" %>
                  <% end %>
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
                <div class="swiper-pagination"></div>
              </div>
            <% end %>
            <div class="posts-index-right">
              <%= link_to("👉釣果詳細","/posts/#{post.id}", data: {"turbolinks" => false}) %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% if @current_user && @posts or @post %>
  <p id="page-top"><%= link_to("釣果を投稿する","/posts/new") %></p>
<% end %>

<% if @current_user == nil %>
  <p id="page-top"><%= link_to("新規登録する","/signup") %></p>
<% end %>

<div class="go-home">
  <%= link_to("<ページの上へ戻る>", "#top") %>
</div>

<script src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/5-4-1/js/5-4-1.js"></script>
