<div class="top-image"></div> 
<div class="contents">
  <div class="top-info">
    <div class="info-item">
      <%= link_to("釣果情報", "/posts/index") %>
    </div>
    <div class="info-item">
      <%= link_to("ブログ's","/blogs/index") %>
    </div>
    <div class="info-item">
      <%= link_to("釣り場情報","/maps/index") %>
    </div>
    <div class="info-item">
      <%= link_to("【広告】釣具買取","https://px.a8.net/svt/ejp?a8mat=3BBXGL+1ZG1DE+49AW+614CY", target: :_blank, rel: :noopner ) %>
    </div>
  </div>

  <h2 class="contents-title">最新釣果情報</h2>
  
  <div class="top-contents">
    <% @posts.each do |post| %> 
      <div class="top-posts-item">
        <div class="top-left">
          <%= image_tag post.user.image.url %>
        </div>
        <div class="top-user-name">
          <%= link_to(post.user.name, "/users/#{post.user.id}") %><span> さん</span>
        </div>
        <div class="top-user-image">
          <% if post.images.length < 2 %>
            <% post.images.each do |image| %>
              <%= image_tag image.to_s %>
            <% end %>
          <% else %>
            <div class="swiper">
              <div class= "swiper-wrapper ">
                <% post.images.each do |image| %>
                  <%= image_tag image.to_s, class: "swiper-slide index-img" %>
                <% end %>
              </div>
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>
              <div class="swiper-pagination"></div>
            </div>
          <% end %>
          <div class="posts-index-right">
            <%= link_to("👉釣果詳細はこちら","/posts/#{post.id}", data: {"turbolinks" => false}) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <h2 class="contents-title">最新ブログ情報</h2>

  <div class="top-contents">
    <% @blogs.each do |blog| %>
      <div class="top-blogs-item">
        <div class="top-blog-title">
          <%= link_to(blog.title, "/blogs/#{blog.id}") %>
        </div>
        <div class="top-blog-image">
          <%= image_tag blog.image.to_s %>
        </div>
        <div class="posts-index-right">
          <%= link_to("👉ブログ詳細はこちら","/blogs/#{blog.id}", data: {"turbolinks" => false}) %>
        </div>
      </div>
    <% end %>
  </div>

  <h2 class="contents-title">運営からのお知らせ</h2>

  <div class="gyotan-info">
    <div class="gyotan-item"><%= link_to("利用規約", "/term") %></div>
    <div class="gyotan-item"><%= link_to("プライバシーポリシー", "/privacy") %></li></div>
    <div class="gyotan-item"><%= link_to("Cookie", "/cookie") %></li></div>
    <div class="gyotan-item"><%= link_to("琵琶湖バス釣りルール", "/rule") %></li></div>
    <div class="gyotan-item"><%= link_to("運営者情報", "/profile") %></li></div>
    <div class="gyotan-item"><%= link_to("お問い合わせ", "/contacts/new") %></li></div>
  </div>
</div>
