<div class="top-image">
  <div class="top-message">
    <h1>琵琶湖バス釣り情報サイト"Gyotan"</h1>
    <h2>
      釣果情報・釣り場情報・バス釣りブログで情報を
      <br>
      共有して琵琶湖にバス釣りに行こう！！
    </h2>
  </div>
</div>
<div class="contents">
  <div class="top-info">
    <div class="info-item">
      <%= link_to("釣果情報", "/posts/index") %>
    </div>
    <div class="info-item">
      <%= link_to("バス釣りブログ","/blogs/index") %>
    </div>
    <div class="info-item">
      <%= link_to("釣り場（ポイント）情報","/maps/index") %>
    </div>
    <div class="info-item">
      <%= link_to("【広告】釣具買取","https://px.a8.net/svt/ejp?a8mat=3BBXGL+1ZG1DE+49AW+614CY", target: :_blank, rel: :noopner ) %>
    </div>
  </div>

  <h3 class="contents-title">最新釣果情報</h3>

  <div class="posts-contents">
    <% @posts.each do |post| %>
      <div class="posts-item">
        <div class="top-left">
          <%= image_tag post.user.image.url %>
        </div>
        <div class="top-user-name">
          <%= link_to(post.user.name, "/users/#{post.user.id}") %><span> さん</span>
        </div>
        <div class="top-user-image">
          <% if post.images.length < 2 %>
            <% post.images.each do |image| %>
              <%= image_tag image.to_s %>
            <% end %>
          <% else %>
            <div class="swiper">
              <div class= "swiper-wrapper ">
                <% post.images.each do |image| %>
                  <%= image_tag image.to_s, class: "swiper-slide index-img" %>
                <% end %>
              </div>
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>
              <div class="swiper-pagination"></div>
            </div>
          <% end %>
          <div class="posts-index-right">
            <%= link_to("👉釣果詳細","/posts/#{post.id}", data: {"turbolinks" => false}) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
