<div class="main">
  <div class="contents">
    <div class="top-image">
      <div class="top-message">
        <h1>Gyotan</h1>
        <h2>琵琶湖バス釣り釣果情報共有サイト</p>
        <p>あなたの釣果情報がみんなの魚探に変わる！?</p>
  </div>
    </div>  
    <div class="weather">
      <div id="weather"></div>
    </div>
    <div class="contents-title">
      <h3>-最新釣果情報-</h3>
    </div>
    <div class="top-posts">
      <% @posts.each do |post| %>
        <div class="top-index-item">
          <div class="top-left">
            <%= image_tag("/user_images/#{post.user.image}") %>
          </div>
          <div class="top-right">
            <div class="top-user-name">
              <%= link_to(post.user.name, "/users/#{post.user.image}") %><span> さん</span>
            </div>
          </div>  
          <div class="top-user-image">
            <div class="slider">
              <%= image_tag("/post_images/#{post.image}") %>
            </div>
          </div>

          <div class="top-datetime">
            <% if image = EXIFR::JPEG.new("public/post_images/#{post.image}") %>
              <%= image.date_time.strftime("%Y-%m-%d %H:%M") %>
            <% else %>
              <%= @post.date_time..strftime("%Y-%m-%d %H:%M") %>
            <% end %>
          </div>

          <div class="top-weather">
            <span>天気：</span><%= post.weather %>
          </div>

          <div class="top-fish-area">
            <span>釣果エリア：</span><%= post.fish_area %>
          </div>
          <div class="top-info">
            <div class="top-content">
              <p>～釣果状況～</p>
              <%= post.content %>
            </div>
            <div class="top-fish-info">
              <div class="top-length">
                <p>長さ :</p>
                <%= post.length %><span> cm</span>
              </div>

              <div class="top-weight">
                <p>重さ :</p>
                <%= post.weight %><span> g</span>
              </div>

              <div class="top-lure">
                <p>ルアー種類 : </p>
                <%= post.lure %>
              </div>

              <div class="top-lure-color">
                <p>ルアーカラー :</p>
                <%= post.lure_color %>
              </div>
              
              <div class="top-catch-fish">
                <p>釣果数 :</p>
                <%= post.catch_fish %><span> 匹</span>
              </div>
            </div>
          </div>
        </div>  
      <% end %>
    </div>
  </div>
</div>