<div class="contents">
  <div class="top-info">
    <div class="info-item">
      <%= link_to("釣果情報", "/posts/index") %>
    </div>
    <div class="info-item">
      <%= link_to("釣り場情報","/maps/index") %>
    </div>
    <div class="info-item">
      <%= link_to("バス釣りブログ","/blogs/index") %>
    </div>
  </div>

  <h3 class="contents-title">最新釣果情報</h3>

  <div class="posts-contents">
    <% @posts.each do |post| %>
      <div class="posts-item">
        <div class="top-left">
          <%= image_tag post.user.image.url, alt: "ユーザー画像" %>
        </div>
        <div class="top-user-name">
          <%= link_to(post.user.name, "/users/#{post.user.id}") %><span> さん</span>
        </div>
        <div class="top-user-image">
          <% if post.images.length < 2 %>
            <% post.images.each do |image| %>
              <%= image_tag image.to_s, alt: "投稿された釣果画像(単枚)" %>
            <% end %>
          <% else %>
            <div class="swiper">
              <div class= "swiper-wrapper ">
                <% post.images.each do |image| %>
                  <%= image_tag image.to_s, class: "swiper-slide index-img", alt: "投稿された釣果画像（複数枚）" %>
                <% end %>
              </div>
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>
              <div class="swiper-pagination"></div>
            </div>
          <% end %>
          <div class="posts-index-right">
            <%= link_to("👉釣果詳細","/posts/#{post.id}", data: {"turbolinks" => false}) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="go-home">
  <%= link_to("<ページの上へ戻る>", "#top") %>
</div>
