<div class="main">
  <div class="container">
    <h1 class="form-heading">お問合せフォーム</h1>
    <div class="form">
      <div class="form-body">
        <% @contact.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>

        <%= form_with model: Contact.new, url:"/contacts/create",  local: true do |f| %>
          <div class="contact-form">
            <%= f.label "お名前" %>
            <%= f.text_field :name %>
            <%= f.label "お問合せ内容" %>
            <%= f.text_area :content %>
            <%= f.submit "送信" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
