<div class="main">
  <div class="container">
    <h1 class="form-heading">編集する</h1>

    <%= form_with url: "/posts/:id/update", local: true do |form| %>
      <div class="form">
        <div class="form-body">

          <% @post.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>

          <h3>タイトル</h3>
          <%= form.text_field :title, value: @post.title %>

          <h3>釣果画像</h3>
          <%= form.file_field :image, value: @post.image %>
          
          <h3>天気</h3>
          <%= form.select :weather,
          [
            ["晴れ"],["曇り"],["雨"],["雪"],
          ] ,
          prompt: "天気を選択してください", value: @post.weather %>

          <h3>釣果内容</h3><span>※詳しく状況を記入して下さい</span>
          <%= form.text_area :content, value: @post.content %>

          <h3>釣果エリア</h3>
          <%= form.select :fish_area,
            [
              ["北湖北岸エリア"],["北湖東岸エリア"],["北湖西岸エリア"],["南湖東岸エリア"],["南湖西岸エリア"]
            ] ,
          prompt: "釣果エリアを選択してください", value: @post.fish_area %>
          
          

          <script>
            if(fish_area == "北湖北岸エリア"){
              console.log(
                <%= form.select :fish_area, 
                  [
                    ["藤ヶ崎～飯浦～西野の岬"],["塩津浜～月出ワンド"],["菅浦～黒土崎エリア"],["奥出湾～大浦湾エリア"],["二本松～海津大崎"],["大崎港～マキノ町海津"]
                  ] ,
                prompt: "北湖北岸エリア" %>
              );
            }else if("北湖東岸エリア"){
              console.log(
                <% if :fish_area === ["北湖東岸エリア"] %>
                  <%= form.select :fish_area, 
                    [
                      ["野田沼～余呉川"],["丁野木川河口～奥びわスポーツの森"],["姉川河口～長浜"],["長浜港周辺"],["天野川河口周辺"],
                      ["彦根ビューホテル～松原スロープ"],["彦根港～芹川河口"],["野田沼～宇曽川～曽根沼"],["愛知川河口～大同川河口"],
                      ["伊崎山～堀切湾"],["鯉ヶ崎～猿ヶ崎～水ヶ浜"],["長命寺～岡山園地"],["家棟川～マイアミ浜エリア"]
                    ] ,
                  prompt: "北湖東岸エリア", value: @post.fish_area %>
                <% end %>
              );
            }else if("北湖西岸エリア"){
              console.log(
                <% if :fish_area === ["北湖西岸エリア"] %>
                  <%= form.select :fish_area, 
                    [
                      ["知内川河口"],["貫川内湖エリア"],["石田川河口～今津エリア"],["近江今津～木津浜エリア"],["外ヶ浜～源氏浜エリア"],["安曇川河口デルタ地帯"],
                      ["金丸川河口～鴨川河口"],["大溝漁港～乙女ヶ池エリア"],["白髭神社～鵜川河口エリア"],["北小松漁港～滝川河口エリア"],["近江舞子エリア"],
                      ["大谷川河口～松の浦～志賀駅エリア"],["木戸川～八屋戸川エリア"],["蓬莱駅～喜撰川エリア"],["喜撰川～和邇浜エリア"],["和邇川河口～小野エリア"]
                    ] ,
                  prompt: "北湖西岸エリア", value: @post.fish_area %>
                <% end %>
              );
            }else if("南湖東岸エリア"){
              console.log(
                <% if :fish_area === ["南湖東岸エリア"] %>
                  <%= form.select :fish_area, 
                    [
                      ["マイアミ浜エリア"],["野洲川河口北岸エリア"],["野洲川河口南岸エリア"],["琵琶湖大橋東詰エリア"],["琵琶湖大橋東詰～木浜２号水路エリア"],["木浜３号水路～５号水路エリア"],
                      ["赤野井エリア"],["鳥丸半島エリア"],["下物エリア"],["志那エリア"],["葉山川河口エリア"],["草津川河口～北山田漁港エリア"],["北山田エリア"],["矢橋帰帆島北エリア"],["矢橋帰帆島南エリア"]
                    ] ,
                  prompt: "南湖東岸エリア", value: @post.fish_area %>
                <% end %>
              );
            }else("南湖西岸エリア"){
              console.log(
                <% if :fish_area === ["南湖西岸エリア"] %>
                  <%= form.select :fish_area, 
                    [
                      ["琵琶湖大橋西詰エリア"],["堅田エリア"],["名鉄ワンド～天神川河口エリア"],["雄琴川～山ノ下湾エリア"],["雄琴エリア"],["カネカ工場エリア"],["大宮川河口エリア"],
                      ["井筒エリア"],["唐崎エリア"],["自衛隊エリア"],["柳が崎エリア"],["浜大津エリア"],["におの浜エリア"],["由美浜～プリンス前エリア"],["膳所～石山エリア"]
                    ] ,
                  prompt: "南湖西岸エリア", value: @post.fish_area %>
                <% end %>
              );
            }
          </script>

          <h3>サイズ<span>※30cm以上</span></h3>
          <%= form.number_field :length, min: 30, max: 75, step: "0.5", value: @post.length %>

          <h3>重さ<span>※500g以上</span></h3>
          <%= form.number_field :weight, min: 500, max: 10000, step: "5", value: @post.weight %>
            
          <h3>ルアー種類</h3>
          <%= form.select :lure, 
            [
              ["ハードルアー"],["ソフトルアー"]
            ] ,
          prompt: "ルアーの種類を選択してください", value: @post.lure %>

          <h3>ハードルアー</h3>
          <%= form.select :lure,
            [
            ["クランクベイト"],["ディープクランク"],["シャッド"],["バイブレーション"],["ミノー"],["スピナーベイト"],["バズベイト"],["ビッグベイト"],["I字系"],
            ["ラバージグ"],["フットボールジグ"],["メタルベイト"],["ウェィクベイト"],["チャターベイト"],["ポッパー"],["ペンシルベイト"],["プロップベイト"],["ハネモノ"],["フロッグ"],
            ] ,
            prompt: "ルアーを選択してください", value: @post.lure %>

          <h3>ソフトルアー</h3>
          <%= form.select :lure,
            [
            ["スモラバ"],["ネコリグ"],["ミドスト"],["ノーシンカーリグ"],["ジグヘッドワッキー"],["ダウンショットリグ"],["虫系"],
            ["ヘビキャロ"],["テキサスリグ"],["スイムベイト"],["シャッドテールワーム"],
            ] ,
            prompt: "ルアーを選択してください", value: @post.lure %>

          <h3>ルアーカラー</h3>
          <%= form.select :lure_color,
          [
            ["ベイト系"],["ゴールド系"],["シルバー系"],["レッド系"],["チャート系"],["パープル系"],["ゴースト系"],["ピンク系"],
            ["ホワイト系"], ["ブラック系"],["クロー系"],["ホロ系"],["インナープレート系"],["クリア系"],
            ["ウォーターメロン"],["グリパン"],["パンプキン"],["ブルー"],["レッド"],["チャート"],["ホワイト"],["ブラック"],["パープル"],
            ["ピンク"],["スモーク"],["ツートン"],
          ] ,
          prompt: "ルアーカラーを選択してください", value: @post.lure_color %>
          
          <h3>釣果数</h3>
          <%= form.number_field :catch_fish, min: 1, max: 50, step: "1", value: @post.catch_fish %>
          <%= form.submit "投稿" %>
        </div>
      </div>
    <% end %>
  </div>
</div>