<% breadcrumb :posts %>
<div class="container">
  <h3 class="form-heading">琵琶湖バス釣り釣果情報</h3>
  <% @posts.each do |post| %>
    <div class="posts-index-item">
      <div class="posts-index-datetime">
        <span>投稿日:</span>
        <%= post.created_at.strftime("%Y-%m-%d %H:%M") %><br>
        <%= link_to(post.user.name,"/users/#{post.user_id}") %><span>さんが釣果を投稿</span> 
      </div>
      <div class="top-user-image">
        <% if post.images.length < 2 %>
          <% post.images.each do |image| %>
            <%= image_tag image.to_s, class: "post-img"%>
          <% end %>
        <% else %>
          <div class="swiper">
            <div class= "swiper-wrapper ">
              <% post.images.each do |image| %>
                <%= image_tag image.to_s, class: "swiper-slide index-img" %>
              <% end %>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-pagination"></div>
          </div>
        <% end %>
      </div>
      <div class="posts-index-right">
        <%= link_to("👉釣果詳細はこちら","/posts/#{post.id}", data: {"turbolinks" => false}) %>
      </div>
    </div>
  <% end %>
</div>
