<div class="main">
  <div class="container">
    <h1 class="form-heading">投稿する</h1>
    <div class="form">
      <div class="form-body">
        <% @post.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>

        <%= form_with model: @post, url: "/posts/create", local: true do |form| %>   
          <p>タイトル</p>
          <%= form.text_field :title, maxlength: 20 %>

          <p>釣果画像</p>
          <%= form.file_field :image %>
          
          <p>天気</p>
          <%= form.select :weather,
            [
              ["晴れ"],["曇り"],["雨"],["雪"]
            ] ,
          prompt: "天気を選択してください" %>

          <p>釣果内容</p> <span>※詳しく状況を記入して下さい</span>
          <%= form.text_area :content, maxlength: 70 %>

          <p>釣果エリア</p>
          <%= form.select :fish_area,
            [
              ["湖北エリア"],["湖東エリア"],["湖西エリア"],["南湖東エリア"],["南湖西エリア"]
            ] ,
          prompt: "釣果エリアを選択してください" %>

          <p>サイズ</p><span>※30cm以上</span>
          <%= form.number_field :length, min: 30, max: 75, step: "0.5" %>

          <p>重さ</p><span>※500g以上</span>
          <%= form.number_field :weight, min: 500, max: 10000, step: "5" %>

          <p>ルアー種類</p>
          <%= form.select :lure,
              [
              ["クランクベイト"],["ディープクランク"],["ミノー"],["シャッド"],["バイブレーション"],["スピナーベイト"],["バズベイト"],["チャターベイト"],["ビッグベイト"],["I字系"],
              ["ラバージグ"],["フットボールジグ"],["メタルベイト"],["ウェィクベイト"],["ポッパー"],["ペンシルベイト"],["プロップベイト"],["ハネモノ"],["フロッグ"],
              ["スモラバ"],["ネコリグ"],["ミドスト"],["ノーシンカーリグ"],["ジグヘッドワッキー"],["ダウンショットリグ"],["虫系"],
              ["ヘビキャロ"],["テキサスリグ"],["スイムベイト"],["シャッドテールワーム"],
              ] ,
              prompt: "ルアーを選択してください" %>

          <p>ルアーカラー</p>
          <%= form.select :lure_color,
          [
            ["ゴールド系"],["シルバー系"],["レッド系"],["ブルー系"],["チャート系"],["パープル系"],["ゴースト系"],["ピンク系"],
            ["ホワイト系"], ["ブラック系"],["クロー系"],["ホロ系"],["インナープレート系"],["クリア系"],
            ["ウォーターメロン系"],["グリパン系"],["スカッパノン系"],["スモーク系"],["ツートン系"],
          ] ,
          prompt: "ルアーカラーを選択してください" %>
        
          <p>釣果数</p>
          <%= form.number_field :catch_fish, min: 1, max: 50, step: "1" %>
          <%= form.submit "釣果投稿" %>
        <% end %>
      </div>
    </div>
  </div>
</div>