<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">投稿する</h1>
    <%= form_tag("/posts/create", {multipart: true}) do %>
      <div class="form">
        <div class="form-body">
          <% @post.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
           
          <h2>タイトル</h2>
          <input name="title"><%= @post.title %>

          <h2>釣果画像</h2>
          <input name="image" type="file" value="<%= @post.image %>">

          <h2>釣果内容</h2>
          <textarea name="content"><%= @post.content %></textarea>

          <div class="fish-info">
            <h2>サイズ</h2>
            <div class="length">
              <input name="length"><%= @post.length %><span> cm </span>
            </div>
            <h2>重さ</h2>
            <div class="weight">
              <input name="weight"><%= @post.weight %><span> g </span>
            </div>
            <h2>ルアー</h2>
            <div class="lure">
              <input name="lure"><%= @post.lure %>
          </div>

          <div class="map">
            <h2>釣れた場所</h2>
          </div>
          <input type="submit" value="投稿">

        </div>
      </div>
    <% end %>
  </div>
</div>