<div class="main">
  <div class="container">
    <h1 class="form-heading">-投稿する-</h1>
    <div class="form">
      <div class="form-body">
        <% @post.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>

        <%= form_with model: @post, url: "/posts/create", local: true do |form| %>  
          <%= form.label "タイトル" %>
          <%= form.text_field :title, maxlength: 20 %>

          <%= form.label "釣果画像" %><span> ※３枚以下</span>
          <%= form.file_field :images, multiple: true %>

          <%= form.label "天気" %>
          <%= form.select :weather,
            [
              ["晴れ"],["曇り"],["雨"],["雪"]
            ] ,
          prompt: "天気を選択してください" %>

          <%= form.label "釣果内容" %><span> ※詳しく状況を記入して下さい</span>
          <%= form.text_area :content, maxlength: 70 %>

          <%= form.label "釣果エリア" %>
          <%= form.select :fish_area,
            [
              ["湖北エリア"],["湖東エリア"],["湖西エリア"],["南湖東エリア"],["南湖西エリア"]
            ] ,
          prompt: "釣果エリアを選択してください" %>

          <%= form.label "サイズ" %><span> ※30cm以上</span>
          <%= form.number_field :length, min: 30, max: 75, step: "0.5" %>

          <%= form.label "重さ" %><span> ※500g以上</span>
          <%= form.number_field :weight, min: 500, max: 10000, step: "5" %>

          <%= form.label "ルアー種類" %>
          <%= form.select :lure,
            [
            ["クランクベイト"],["ディープクランク"],["ミノー"],["シャッド"],["バイブレーション"],["スピナーベイト"],["バズベイト"],["チャターベイト"],["ビッグベイト"],["I字系"],
            ["ラバージグ"],["フットボールジグ"],["メタルベイト"],["ウェィクベイト"],["ポッパー"],["ペンシルベイト"],["プロップベイト"],["ハネモノ"],["フロッグ"],
            ["スモラバ"],["ネコリグ"],["ミドスト"],["ノーシンカーリグ"],["ジグヘッドワッキー"],["ダウンショットリグ"],["虫系"],
            ["ヘビキャロ"],["テキサスリグ"],["スイムベイト"],["シャッドテールワーム"],
            ] ,
            prompt: "ルアーを選択してください" %>

          <%= form.label "ルアーカラー" %>
          <%= form.select :lure_color,
            [
              ["ゴールド系"],["シルバー系"],["レッド系"],["ブルー系"],["チャート系"],["パープル系"],["ゴースト系"],["ピンク系"],
              ["ホワイト系"], ["ブラック系"],["クロー系"],["ホロ系"],["インナープレート系"],["クリア系"],
              ["ウォーターメロン系"],["グリパン系"],["スカッパノン系"],["スモーク系"],["ツートン系"],
            ] ,
            prompt: "ルアーカラーを選択してください" %>
        
          <%= form.label "釣果数" %>
          <%= form.number_field :catch_fish, min: 1, max: 20, step: "1" %>

          <%= form.submit "釣果投稿" %>
        <% end %>
      </div>
    </div>
  </div>
</div>