<% content_for :title do %>
  琵琶湖バス釣り釣果
<% end %>

<% breadcrumb :posts_show %>
<div class="container">
  <h3 class="contents-title"><%= @post.title %></h3>
  <div class="posts-index-item">
    <div class="post-left">
      <%= image_tag @user.image.url, alt: "ユーザー画像" %>
    </div>

    <div class="post-user-name">
      <%= link_to(@user.name, "/users/#{@user.id}") %><span> さん</sapan>
    </div>

    <div class="post-image">
      <% if @post.images.length < 2 %>
        <% @post.images.each do |image| %>
          <%= image_tag image.to_s, class: "post-img", alt: "投稿された釣果画像（単枚）" %>
        <% end %>
      <% else %>
        <div class="swiper">
          <div class= "swiper-wrapper ">
            <% @post.images.each do |image| %>
              <%= image_tag image.to_s, class: "swiper-slide index-img", alt: "投稿された釣果画像（複数枚）" %>
            <% end %>
          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
          <div class="swiper-pagination"></div>
        </div>
      <% end %>
    </div>

    <div class="post-datetime">
      <% if Rails.env.development? %>
        <% image = EXIFR::JPEG.new(Rails.root.to_s+"/public#{@post.images[0].to_s}") %>
      <% else %>
        <% image = EXIFR::JPEG.new(open(@post.images[0].to_s)) %>
      <% end %>
      <% if image.date_time == nil %>
        <span>投稿日時：</span><%= @post.created_at.strftime("%Y-%m-%d %H:%M") %>
      <% else %>
        <span>釣果日時：</span><%= image.date_time.strftime("%Y-%m-%d %H:%M") %>
      <% end %>
    </div>

    <div class="post-fish-area">
      <span>釣果エリア：</span><%= @post.fish_area %>
    </div>


    <div class="map">
      <div id="map">
      </div>
    </div>

    <script>
      let circleBlue;
      let nRadiusHalfKm = 300;

      document.addEventListener("turbolinks:load", function initMap() {
        <% if image.gps_latitude.nil? %>
          map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 35.28537173798231, lng: 136.09664223303773 },
            zoom: 10,
            fullscreenControl: false,
            streetViewControl: true, //ストリートビューに切り替えるボタンを非表示
            scaleControl: true, //地図のスケールを表示（デフォルトは非表示）
            mapTypeControl: false,
            mapTypeId: google.maps.MapTypeId.HYBRID,
            zoomControl: true
          });
        <% else %>
          map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: <%= image.gps.latitude %>, lng: <%= image.gps.longitude %> },
            zoom: 15,
            fullscreenControl: false,
            streetViewControl: true, //ストリートビューに切り替えるボタンを非表示
            scaleControl: true, //地図のスケールを表示（デフォルトは非表示）
            mapTypeControl: false,
            mapTypeId: google.maps.MapTypeId.HYBRID,
            zoomControl: true
          });

          circleBlue = new google.maps.Circle({
            strokeColor: "#3333FF",
            strokeOpacity: 0.2,
            strokeWeight: 2,
            fillColor: "#3333FF",
            fillOpacity: 0.2,
            map: map,
            draggable: false,
            center: {lat: <%= image.gps.latitude %>, lng: <%= image.gps.longitude %> },
            radius: nRadiusHalfKm
          });
        <% end %>
      });

      window.addEventListener("turbolinks:load", function initMap() {
        <% if image.gps_latitude.nil? %>
          map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 35.28537173798231, lng: 136.09664223303773 },
            zoom: 10,
            fullscreenControl: false,
            streetViewControl: true, //ストリートビューに切り替えるボタンを非表示
            scaleControl: true, //地図のスケールを表示（デフォルトは非表示）
            mapTypeControl: false,
            mapTypeId: google.maps.MapTypeId.HYBRID,
            zoomControl: true
          });
        <% else %>
          map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: <%= image.gps.latitude %>, lng: <%= image.gps.longitude %> },
            zoom: 15,
            fullscreenControl: false,
            streetViewControl: true, //ストリートビューに切り替えるボタンを非表示
            scaleControl: true, //地図のスケールを表示（デフォルトは非表示）
            mapTypeControl: false,
            mapTypeId: google.maps.MapTypeId.HYBRID,
            zoomControl: true
          });

          circleBlue = new google.maps.Circle({
            strokeColor: "#3333FF",
            strokeOpacity: 0.2,
            strokeWeight: 2,
            fillColor: "#3333FF",
            fillOpacity: 0.2,
            map: map,
            draggable: false,
            center: {lat: <%= image.gps.latitude %>, lng: <%= image.gps.longitude %> },
            radius: nRadiusHalfKm
          });
        <% end %>
      });

    </script>

    <div class="post-info">
      <div class="post-content">
        <p>～釣果状況～</p>
        <%= @post.content %>
      </div>
      <div class="post-fish-info">
        <div class="post-weather">
          <p>天気：</p>
          <%= @post.weather %>
        </div>
        <div class="post-catch-fish">
          <p>釣果数:</p>
          <%= @post.catch_fish %><span>匹</span>
        </div>
        <div class="post-length">
          <p>長さ:</p>
          <%= @post.length %><span>cm</span>
        </div>
        <div class="post-weight">
          <p>重さ:</p>
          <%= @post.weight %><span>g</span>
        </div>
        <div class="post-lure">
          <p>ルアー: </p>
          <%= @post.lure %>
        </div>
        <div class="post-lure-color">
          <p>カラー:</p>
          <%= @post.lure_color %>
        </div>

      </div>
    </div>
    <% if session[:user_id] %>
      <% if Like.find_by(user_id: @current_user.id, post_id: @post.id) %>
        <%= link_to("/likes/#{@post.id}/destroy", {method: "post"}) do %>
          <span class="fa fa-heart liked-btn"></span>
        <% end %>
      <% else %>
        <%= link_to("/likes/#{@post.id}/create", {method: "post"}) do %>
          <span class="fa fa-heart unliked-btn"></span>
        <% end %>
      <% end %>
        <%= @likes_count %>
    <% end %>
    <% if session[:user_id] %>
      <% if @post.user_id == @current_user.id %>
        <div class="post-menus">
          <%= link_to("投稿", "/posts/new") %>
          <%= link_to("編集", "/posts/#{@post.id}/edit") %>
          <%= link_to("削除", "/posts/#{@post.id}/destroy", {method: "post"}) %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="go-home">
  <%= link_to("<釣果一覧に戻る>","/posts/index") %>
</div>

<!--Google Maps APIの読み込み-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwAFxkqesA8SEuOrXD6_InNT4rBCKkBoU&callback=initMap&v=weekly"defer></script>

