<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <!--Google Search Consoleの読み込み-->
    <meta name="google-site-verification" content="jxlhLqjT7chxHAq1rjUMu1eYmH2tBQ9YqFBK7mSAbYA" />
    <%= display_meta_tags(default_meta_tags) %>
  </head>
  
  <body>
    <header>
      <div class="header-logo">
        <% if @current_user %>
          <%= link_to(" Gyotan ", "/posts/index") %><span>-琵琶湖バス釣り釣果共有サイト-</span>
        <% else %>
          <%= link_to(" Gyotan  ", "/") %><span>-琵琶湖バス釣り釣果共有サイト-</span>
        <% end%>
      </div>
      <ul class="header-menus">
        <% if @current_user %>
          <span class="nav_toggle">
            <i></i>
            <i></i>
            <i></i>
          </span>
          <nav class="nav">
            <ul class="nav_menu_ul">
              <li class="nav_menu_li"><%= link_to("アカウント情報", "/users/#{@current_user.id}") %></li>
              <li class="nav_menu_li"><%= link_to("釣果投稿", "/posts/new") %></li>
              <li class="nav_menu_li"><%= link_to("みんなの釣果", "/posts/index") %></li>
              <li class="nav_menu_li"><%= link_to("ユーザー一覧", "/users/index") %></li>
              <li class="nav_menu_li"><%= link_to("ブログ's","/blogs/index") %></li>
              <% if @current_user.admin? %>
                <li class="nav_menu_li"><%= link_to("ブログ投稿", "/blogs/new") %></li>
              <% end %>
              <li class="nav_menu_li"><%= link_to("釣り場情報","/maps/index") %></li>
              <% if @current_user.admin? %>
                <li class="nav_menu_li"><%= link_to("釣り場投稿", "/maps/new") %></li>
              <% end %>
              <li class="nav_menu_li"><%= link_to("ログアウト", "/logout", {method: "post"}) %></li>
            </ul>
          </nav>
        <% else %>
          <span class="nav_toggle">
            <i></i>
            <i></i>
            <i></i>
          </span>
          <nav class="nav">
            <ul class="nav_menu_ul">
              <li class="nav_menu_li"><%= link_to("みんなの釣果", "/posts/index") %></li>
              <li class="nav_menu_li"><%= link_to("ブログ's","/blogs/index") %></li>
              <li class="nav_menu_li"><%= link_to("釣り場情報","/maps/index") %></li>
              <li class="nav_menu_li"><%= link_to("新規登録","/signup") %></li>
              <li class="nav_menu_li"><%= link_to("ログイン","/login") %></li>
            </ul>
          </nav>
        <% end %>
      </ul>
    </header>
    
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
          
    <div class="wrapper"><%= yield %></div>

    <footer id="footer">
      <p id="page-top"><a href="#">Page Top</a></p> 
      <small>&copy; Gyotan.jp</small>
      <div class="footer-info"
        <ul>
          <li><%= link_to("利用規約", "/term") %></li>
          <li><%= link_to("プライバシーポリシー", "/privacy") %></li>
          <li><%= link_to("Cookie", "/cookie") %></li>
          <li><%= link_to("お問い合わせ", "/contacts/new") %></li>
        </ul>
      </div>
    </footer>
    
    <!--jqueryの読み込み-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!--swiperの読み込み-->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <!--Google Maps APIの読み込み-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMsepPczbmm4sb6Fwmp8SjRaDspafFqlc&callback=initMap&v=weekly"defer></script>
    <!--Googleアドセンスの読み込み-->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8945963860738758"crossorigin="anonymous"></script>
  </body>
</html>