<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>魚探[GYOTAN]-琵琶湖釣果共有サイト-</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8945963860738758" crossorigin="anonymous"></script>
    <meta name="google-site-verification" content="n9W1N2g_XIsdFJIYO6BbQNE7-X2_k6yYxzcQztChim8" /> 
  </head>
  
  <body>
    <header>
      <div class="header-info">
        <div class="header-logo">
          <% if @current_user %>
            <%= link_to(" GYOTAN ", "/posts/index") %>
          <% else %>
            <%= link_to(" GYOTAN ", "/") %>
          <% end%>
        </div>
        <ul class="header-menus">
          <% if @current_user %>
            <li>
              <%= link_to(@current_user.name, "/users/#{@current_user.id}") %>
            </li>
            <li>
              <%= link_to("投稿一覧", "/posts/index") %>
            </li>
            <li>
              <%= link_to("新規投稿", "/posts/new") %>
            </li>
            <li>
              <%= link_to("ユーザー一覧", "/users/index") %>
            </li>
            <li>
              <%= link_to("ブログ's","/blogs") %>
            </li>
            <li>
              <%= link_to("ブログ投稿", "/blogs/new") %>
            </li>
            <li>
              <%= link_to("ログアウト", "/logout", {method: "post"}) %>
            </li>
          <% else %>
            <span class="nav_toggle">
              <i></i>
              <i></i>
              <i></i>
            </span>
            <nav class="nav">
              <ul class="nav_menu_ul">
                <li class="nav_menu_li"><%= link_to("シーズン情報", "/seasonal/spring") %></li>
                <li class="nav_menu_li"><%= link_to("新規登録", "/signup") %></li>
                <li class="nav_menu_li"><%= link_to("ログイン","/login") %></li>
              </ul>
            </nav> 
          <% end %>
        </ul>
      </div>
    </header>

    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <%= yield %>
    <script src="js/home.js"></script>
    <script src="js/seasonal.js"></script>
  </body>
</html>
