<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <!--Google Search Consoleの読み込み-->
    <meta name="google-site-verification" content="jxlhLqjT7chxHAq1rjUMu1eYmH2tBQ9YqFBK7mSAbYA">
    <!--Googleアドセンスの読み込み-->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8945963860738758"crossorigin="anonymous"></script>
    <%= display_meta_tags(default_meta_tags) %>
    <% if Rails.env.production? %>
      <%= render 'layouts/google_analytics' %>
    <% end %>
  </head>
  <body>
    <header>
      <div class="header-logo" id="top">
        <% if @current_user %>
          <%= link_to("Gyotan", "/posts/index") %>
        <% else %>
          <%= link_to("Gyotan", "/") %>
        <% end%>
      </div>
      <ul class="header-menus">
        <% if @current_user %>
          <span class="nav_toggle">
            <i></i>
            <i></i>
            <i></i>
          </span>
          <nav class="nav">
            <ul class="nav_menu_ul">
              <li class="nav_menu_li"><%= link_to("ユーザー情報", "/users/#{@current_user.id}") %></li>
              <li class="nav_menu_li"><%= link_to("ユーザー一覧", "/users/index") %></li>
              <li class="nav_menu_li"><%= link_to("釣果情報", "/posts/index") %></li>
              <li class="nav_menu_li"><%= link_to("釣果投稿", "/posts/new") %></li>
              <li class="nav_menu_li"><%= link_to("釣り場情報","/maps/index") %></li>
              <% if @current_user.admin? %>
                <li class="nav_menu_li"><%= link_to("釣り場投稿", "/maps/new") %></li>
              <% end %>
              <li class="nav_menu_li"><%= link_to("ログアウト", "/logout", {method: "post"}) %></li>
            </ul>
          </nav>
        <% else %>
          <span class="nav_toggle">
            <i></i>
            <i></i>
            <i></i>
          </span>
          <nav class="nav">
            <ul class="nav_menu_ul">
              <li class="nav_menu_li"><%= link_to("新規登録","/signup") %></li>
              <li class="nav_menu_li"><%= link_to("ログイン","/login") %></li>
            </ul>
          </nav>
        <% end %>
      </ul>
    </header>

    <main>
      <% if flash[:notice] %>
        <div class="flash">
          <%= flash[:notice] %>
        </div>
      <% end %>

      <%= breadcrumbs separator: " &rsaquo; " %>
      <div class="top-image">
        <div class="top-message">
          <h1>琵琶湖バス釣り釣果情報"Gyotan"</h1>
          <h2>
            釣果情報を投稿・共有して琵琶湖にバス釣りに行こう！！
          </h2>
        </div>
      </div>
      <%= yield %>
    </main>

    <aside>
    </aside>

    <footer id="footer">
      <div class="gyotan-info">
        <div class="gyotan-item"><%= link_to("利用規約", "/term") %></div>
        <div class="gyotan-item"><%= link_to("プライバシーポリシー", "/privacy") %></div>
        <div class="gyotan-item"><%= link_to("Cookieポリシー", "/cookie") %></div>
        <div class="gyotan-item"><%= link_to("琵琶湖バス釣りルール", "/rule") %></div>
        <div class="gyotan-item"><%= link_to("Gyotanについて", "/about") %></div>
        <div class="gyotan-item"><%= link_to("運営者情報", "/profile") %></div>
        <div class="gyotan-item"><%= link_to("お問い合わせ", "/contacts/new") %></div>
      </div>
      <small>&copy; Gyotan.jp</small>
    </footer>

    <!--jqueryの読み込み-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!--swiperの読み込み-->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  </body>
</html>
